*---------------------------------------
*this is the configuration file for Yoda
*---------------------------------------
* the line starts with a (*) denotes a comment, the configuration is specified in the NVP form (name value pair)
* the name and the value are split by (|) and if the value is more then one then that can be split with a (~). this is how yoda understands the NVP
* Start-of-Mandatory variables
BaseURL|www.yahoo.com
username|krishnakg
password|testpassword
dbserver|DB_SERVER_NAME:PORT
dbusername|dbuser
dbpassword|dbpass
email|krishnakg@brillio.com
* End-of-Mandatory variables 
* Start-of-Optional variables
* End-of-Optional variables